@font-face {
  font-family: 'minisystem';
  src: local('minisystem'), url('./assets/fonts/minisystem.ttf') format('truetype')
}
body {
  margin: 0;
  font-family: minisystem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
